.circularbody {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://images.pexels.com/photos/7078392/pexels-photo-7078392.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  min-height: 100vh; /* Ensures the background covers the entire viewport height */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #1976d2; /* Navbar background color */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.circularinside {
  padding-top: 20px; /* Space for the sticky navbar */
  display: flex;
  justify-content: center;
  flex-grow: 1;
  /* align-items: center; */
}

.circularcontainer 
{
  width: 50%;
  height: fit-content; /* Reduces the height of the container */
  overflow-y: auto; /* Allows scrolling if content exceeds container height */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.circularheading {
  text-align: center;
  font-weight: bold;
  color: navy;
}

.createcircularButton {

  background-color: #1976d2;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* display: block; */
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.createcircularButton:hover {
  background-color: #1565c0; /* Slightly darker blue on hover */
}

.circularCard {
  /* margin: 10px 0; */
  cursor: pointer;
  transition: transform 0.2s;
  border: 1px solid black;
  margin-bottom: 15px;

}

.circularCard:hover {
  transform: scale(1.02);
}

.circularcardContent {
  padding: 20px;

}

.circularcardHeading {
  font-size: 18px;
  font-weight: bold;
  color: #1976d2;
}

.circularcardDate {
  font-size: 14px;
  color: #666;
}

.noCirculars {
  text-align: center;
}
